<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',
    filename='css/style.css')}}"
    />
    <title>You Said</title>
  </head>
  <body>
    <nav class="green lighten-3">
      <div class="nav-wrapper">
        <a href="{{ url_for('index')}}" class="brand-logo black-text"
          >You Said</a
        >
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="fas fa-bars black-text"></i
        ></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url_for('partner_one') }}" class="black-text">Partner One</a></li>
          <li><a href="{{ url_for('partner_two') }}" class="black-text">Partner Two</a></li>
          <li><a href="{{ url_for('login_register') }}" class="black-text">Log In/Register</a></li>
          <li><a href="{{ url_for('logout') }}" class="black-text">Log Out</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{ url_for('partner_one')}}">Partner One</a></li>
      <li><a href="{{ url_for('partner_two')}}">Partner Two</a></li>
      <li><a href="{{ url_for('login_register')}}">Log In/Register</a></li>
      <li><a href="{{ url_for('logout')}}">Log Out</a></li>
    </ul>
    <main>{% block content %} {% endblock %}</main>
    <footer>

      <a href="https://www.35smile.com" target="_blank" class="sitelink blue-text lighten-5"><i class="fas fa-copyright red-text darken-5"></i> 35Smile <span id="date" class="amber-text darken-3"></span></a>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename="js/script.js")}}"></script>
    <script>
      $("#date").text(new Date().getFullYear());    </script>
  </body>
</html>
