{% extends "base.html" %} {% block content %}

<div class="hero">
  <h1>"You Said."</h1>
  <h3>The app that keeps it fair.</h3>
  <p class="large-text">Everyone remembers things a little bit different.</p>

  <div class="row">
    <div class="col s12 m4">
      <div class="card center-align">
        <div class="card-image">
          <img src="{{ url_for('static', filename='img/you-said1.jpg') }}" />
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>
            With You Said, you can keep track of shared expenses, housework
            commitments and personal agreements with no doubt of who said what
            and when.
          </p>
        </div>
        <div class="card-action">
          <a href="#" class="btn btn-large black-text">Register/LogIn</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
